*{
      font-family: Bitcount Grid Single;
      font-size: large;
      font-weight: 300;
    }
    .div1{
      box-sizing: border-box;
      text-align: center;
      border: 3px dashed grey;
      margin: 20px 100px 30px;
    }
    .btn{
      border: 1px solid rgb(107, 99, 99);
      border-radius: 10px;
      padding: 5px 10px 5px 10px;
      justify-content: center;
      margin-left: 20px;
      transition: background-color 0.5s,color 0.5s, border 0.5s;
    }
    .btn:hover{
      cursor: pointer;
      background-color: black;
      color: white;
      border: 1px solid white;
    }
    .pp{
      text-decoration: underline;
      font-weight: 500;
    }